@using OpenWeather.Models
@using System.Linq
@using System.Diagnostics
@model List<OpenWeatherModel>
@{
    ViewBag.Title = "Open Weather App";
}

<div class="row">
    @for (int k = 0; k < 10; k += 5)
    {
        <div class="col-md-6">
            @for (int i = k; i < k + 5; i++)
            {
                if (Model.ElementAt(i) != null)
                {
                    var cityTxt = Model.ElementAt(i).City + "\t" + Model.ElementAt(i).StateZip;

                    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
                    <h4>@cityTxt</h4><br />
                    <br />
                    <h5>Date<span style="padding:0px 100px 0px 100px"></span>Avg Temp(F)</h5>
                    <hr style="border-bottom: dashed 1px;" />

                    // for loop to loop through 5 days
                    for (int j = 0; j < 5; j++)
                    {
                        string rain = "";
                        if (Model.ElementAt(i).Precipitation.ElementAt(j))
                        {
                            rain = "*";
                        }
                        string avgTemp = "";
                        avgTemp = Model.ElementAt(i).Temperature.ElementAt(j).ToString("0.00");
                        <h6>
                            @Model.ElementAt(i).Date.ElementAt(j).ToString("MM/dd/yyyy")
                            @rain
                            <span style="padding:0px 100px 0px 100px"></span>
                            @avgTemp
                        </h6>
                    }
                }
                else
                {
                    @:<h2>No Results</h2>
                    Debug.WriteLine(Model.Count);
                }
            }
        </div>
    }
</div>